body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.tablet-images{
    display: block;
    margin: 20px auto;
    height: 260px;
    width: 180px;
    margin: 5px;
    cursor: pointer;
    
}
.title{
    font-size: 30px;
    color: antiquewhite;
}
.cards-container{
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    height: fit-content;
    width:fit-content;
    box-shadow: 2px 2px 3px 3px rgb(232, 226, 232);
    margin: 0px;
    margin-left: 5px;
}

.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 5px;
    font-weight: bold;
}
.description-1{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-weight: bold;
}

.lifestylecardcontainer{
    height: 530px;
    width: 400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    margin-top: 50px;
}
.lifestyle-image-card{
    height: 320px;
    margin-left: 30px;
}
.lifestyle-card-title{
    font-size: 25px;
    text-align: center;
}
.lifestyle-card-dec{
    font-size: 16px;
    text-align: center;
}

.lifestyle-card-offer{
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: rgb(242, 192, 229);
    padding: 1px 10px;
    font-size: 13px;
    border: 2px solid rgb(249, 6, 184);
    border-radius: 4px;
}
.audiocardcontainer{
    height: 390px;
    width: 310px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 50px;
}
.lifestyle-image-card-audio{
    height: 250px;
    margin-left: 20px;
}
.lifestyle-audio-title{
    font-size: 25px;
    text-align: center;
}
.lifestyle-audio-price{
    font-size: 20px;
    text-align: center;
}
.lifestyle-audio-btnn{
    padding: 5px 18px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 95px;
}
.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-42 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
    text-decoration: none;
  }
  
  .btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-42:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-42:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn-42:active {
    top: 2px;
  }
.Small-Button{
    top: 12px;
    left: 13px;
    background-color: rgb(242, 192, 229);
    padding: 1px 10px;
    font-size: 12px;
    border: 2px solid rgb(249, 6, 184);
    border-radius: 4px;
    margin-top: 5px;
}


/* home_card */

.Home-card-container
{
    width: fit-content;
    background-color: #fff;
    padding: 30px 40px;
    margin: 30px 20px;
    box-shadow: 1px 5px 7px rgba(0,0,0,0.9);
    border-radius: 10px;
}

.Home-tab-img
{
    display: block;
    margin: 10px auto;
    height: 400px;
    width: 380px;
}